.App {
  text-align: center;
    /* background-color: #43614c; */
    /* background-color: #324738; */
    background-color: rgb(61, 68, 53);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.par1{
    text-align: justify;
    margin: 10px;
    padding: 30px;
    background: linear-gradient(to right, rgb(67, 97, 76), #324738);
    color: #999b9a;
    border-radius: 25px;
}

.over{
    padding: 3%;
}

.textbox{
    text-align:justify;
    padding: 3%;
    background: linear-gradient(to right, rgb(67, 97, 76), #324738);
    color: #9AA6BF;
    border-radius: 25px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;

}

.headshot{
    display: block;
    float:right;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 3%;
    border: 3px white solid;
    padding: 0%;
}



.par2rightA{
    color: #9AA6BF;
    border-radius: 25px;

}

.par2rightB{
    color: #9AA6BF;
    border-radius: 25px;
}

.flowerDrawing{

    margin-left: -5%;
    z-index: 1;
}

h4{
    padding: 20px;
    margin: 10px;
    color: #7a7d7b;
    text-shadow: 2px 2px 2px #4c4361;
    /* text-shadow: 2px 2px 2px #614c43; */
}

.hero{
    background-image: url("./bloomHorizontal.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0vh;
    margin-bottom: 2vh;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;

}

.name{
    padding: 2px;
    color: #9AA6BF;
    text-shadow: 3px -2px 2px #393E47;
    margin-top:14vh;
    margin-bottom:0px;
    margin-left: 1vw;
    margin-right: 1vw;
    /* position: absolute; */
    text-align: left;

    /* font-size: 6.5vw; */
    font-size: 4vw;

}

.title{
    padding: 2px;
    color: #9AA6BF;
    text-shadow: 3px -2px 2px #393E47;
    margin-top:0vh;
    margin-bottom: -4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /* position: absolute; */
    text-align: left;
    /* font-size: 4.8vw; */
    font-size: 3vw;
}

.title-about{
    color: #9AA6BF;
}


hr {
    color: #999b9a;
}



li{
    font-size: small;
}

body{
    margin:0;

}

.Home{
    margin-top: 0px;
}

.pullquote{
    background: #43615b;
    color: #9d8be4;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 3%;

    /* margin: 2%; */


}

.subhead{
    margin-top: 3%;
    margin-bottom: 3%;
    color: #b3b6bf;



}

.par{
    margin: 2%;
    initial-letter: 200;
}

.advert{
    display: block;
    float:left;
    margin: 3%;
    padding: 1%;
    text-align: center;
    background-color: #435861;

    border-color: white;
    border-width: 1px;
    border-style: solid;

}

.advert.top{
    border-radius: 5%;
}

.advert.bottom{
    border-radius: 0%;
}

.ad-text{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: large;
    line-height: 2;
}

.ad-bottom{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: large;

}

.subpar::first-letter{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}